<body class="has-navbar-fixed-top ">
  <BulmaWidgets.MainComponents.topbard page_title={@page_title} menu_items={@menu_items}>
    <:logo>
      Bulma Widgets
    </:logo>
  </BulmaWidgets.MainComponents.topbard>
  <section class="hero is-dark is-fullheight-with-navbar">
    <%= @inner_content %>
  </section>
</body>
