<!DOCTYPE html>
<html lang="en" class="" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Bulma Widgets">
      <%= assigns[:page_title] %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/bulma/assets/bulma_widgets.css"} />

    <!-- font awesome -->
    <link phx-track-static rel="stylesheet" href={~p"/bulma/fonts/fontawesome6/css/fontawesome.min.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/bulma/fonts/fontawesome6/css/solid.min.css"} />

    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <BulmaWidgets.Main.body
          navbar_fixed="top"
          theme={assigns[:bulma_theme]} >
    <:menu :let={opts}>
      <BulmaWidgets.Main.navbar
        page_title={@page_title}
        menu_items={@menu_items}
        burger={true}
        {opts}
      >
        <:logo classes={~w"is-size-4 has-text-black"}>
          Bulma Widgets
        </:logo>
        <:navbar_end :let={menu_items}>
          <BulmaWidgets.Main.toggle_theme dark_text="Switch Light" light_text="Switch Dark" />

          <BulmaWidgets.Main.navbar_dropdown is-right title="Menu" items={menu_items}>
            <:menu classes={~w"is-size-5"} />
          </BulmaWidgets.Main.navbar_dropdown>
        </:navbar_end>
      </BulmaWidgets.Main.navbar>
    </:menu>
    <:body>
      <%= @inner_content %>
    </:body>
  </BulmaWidgets.Main.body>

</html>
