@import "bulma/bulma.scss";

@import "modal-fx/main.scss";
@import "bulma-switch-control.scss";

.flash-group {
  display: grid;
  position: fixed;
  grid-template-columns: 1fr minmax(20em, 4fr) 1fr;
  justify-content: center;
  left: 0px;
  width: 100%;
  align-items: center;
  z-index: 40;
}
.flash-bottom {
  bottom: 0px;
}
.flash-top {
  top: 0px;
}
.flash-item {
  grid-column-start: 2;
  grid-column-end: 3;
}

.bd-hr {
  background-color: var(--theme-color, var(--bulma-primary));
  border-radius: 9999px;
  height: .25rem;
  margin: 0.25em auto;
  width: 4em;
}