@import "bulma/bulma.scss";

@import "modal-fx/main.scss";
@import "bulma-switch-control.scss";

.blmw-flash-group {
  display: flex;
  position: fixed;
  left: 0px;
  width: 100%;
  align-items: center;
  z-index: 40;
}

.blmw-flash-group > .level {
  width: 100%;
}

.blmw-flash-bottom {
  bottom: 20px;
}

.blmw-flash-top {
  top: 0px;
}

.blmw-flash-item {
  width: 80%;
}

.bd-hr {
  background-color: var(--theme-color, var(--bulma-primary));
  border-radius: 9999px;
  height: .25rem;
  margin: 0.25em auto;
  width: 4em;
}